@import "../generic/_border-radius";
@import "../generic/_transition";
@import "../generic/_box-shadow";
@import "../generic/_transform";

@mixin button($font-color, $bg-color, $radius: 0){
	$x: hue($bg-color); // deg
	$y: saturation($bg-color); // %
	$z: lightness($bg-color); // %

	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	color: $font-color;
	text-decoration: none;
	background-color: $bg-color;
	border: 1px solid darken($bg-color, 10%);
	@include border-radius($radius);
	@include transition(150ms ease-in-out background-color,150ms ease-in-out box-shadow);

	&:hover,
	&:focus{
		cursor: pointer;
		@if(lightness($bg-color) > 50%) {
			@if(lightness($bg-color) > 75%) {
				background-color: darken($bg-color, 5%);
			}@else{
				background-color: darken($bg-color, 10%);
			}
		}@else {
			background-color: lighten($bg-color, 15%);
		}
	}
		
	&:active{
		cursor: pointer;
		@if(lightness($bg-color) > 50%) {
			@include box-shadow(0 0 3px rgba(black, 0.125), 0 0 0.5em rgba(black, 0.125) inset);
		}@else {
			@include box-shadow(0 0 3px $bg-color, 0 0 0.5em rgba(black, 0.25) inset);
		}
	}
}