@import "../generic/_border-radius";
@import "../generic/_transition";
@import "../generic/_box-shadow";
@import "../generic/_transform";

@mixin button($radius: 0){
	display: inline-block;
	padding: 0.5em 1em;
	color: #222;
	text-decoration: none;
	background-color: rgba(black,0.15);
	border: 1px solid rgba(black,0.25);
	@include border-radius($radius);
	@include transition(150ms);
	@include box-shadow(0 0 3px rgba(black,0.20), 0 -3px 10px rgba(black,0.15) inset);

	&:hover,
	&:focus{
		cursor: pointer;
		@include box-shadow(0 0 3px rgba(black,0.20), 0 -3px 20px rgba(black,0.20) inset);
	}
		
	&:active{
		cursor: pointer;
		@include box-shadow(0 0 3px rgba(black,0.25), 0 -3px 30px rgba(black,0.25) inset,  0 3px 0 rgba(black,0.35));
		@include transform(translateY(-3px));
	}
}