// TODO: make it work for any amount of spans
// REQUIRES a `div` and `3 * span` inside of that `div`

@import "../generic/_keyframes";
@import "../generic/_animation";
@import "../generic/_animation-delay";
@import "../generic/_transform";

@mixin loading($width: 1.5em, $color: #09f){
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border: solid $width;
	@include border-radius($width*10);
	border-color: $color transparent $color transparent;
	@include animation(loadingSpin 1s linear infinite);
}

@include keyframes(loadingSpin){
	0%: {
		@include transform(rotate(0deg));
	}
	100%: {
		@include transform(rotate(360deg));
	}
}