/* *******************************************
veGrid - Grid System by Adonis K.
******************************************* */

// partial requirements
//	Requires: borderbox dependency
//	Requires: clearfix dependency
//

@import "../generic/borderbox";
@import "../generic/clearfix";

// this mixin generates column units by using a divisor ($N). It starts looping from 1 (and increasing by 1) until it reaches the divisor's number ($N).
@mixin col($N){
	// left-edge-case : if(i - 1 == 0) then convert that value to 1
	$last : 1;
	@if($N - 1 != 0){
		$last : $N - 1;
	}
	// loop through the numbers given and generate column unit classes
	@for $i from 1 through $last{
		.col-#{$i}-#{$N}{
			width: percentage($i / $N);
		}
	}
}

@mixin grid($N : false, $gutter : 0){
	// if no $N was selected, create a classic 12 column grid
	@if($N){
		$N : 12;
	}

	// loop through the amount of columns that got selected and create their column classes
	@for $i from 1 through $N{
		@include col($i);
	}

	.grid{
		@include borderbox;
		@include clearfix;
		display: block;
		padding: $gutter 0 0 $gutter;
		margin: 0;
		text-align: left;

		.grid{
			margin: 0;
			padding-bottom: 0;
		}
	}

	[class ^= col]{
		@include borderbox;
		display: block;
		float: left;

		@if($gutter != 0){
			padding-right: $gutter;

			&:last-child{
				padding-right: $gutter;
			}
		}
	}
}