@import "generic/_base";
@import "modules/_grid";
@import "partials/_button";
@import "partials/_truncate";
@import "partials/_loading";
@import "partials/_triangle";
@import "partials/_blockquote";
@import "partials/_fixed-footer";
@import "partials/_form";

// generate a 12-column grid with 1em gutter spacing
@include grid(12, 1em);

// buttons
.blue-flat-button{
	@include button(#fff, #09f, 0);
}

.blue-curved-button{
	@include button(#fff, #09f, 2px);
}

.white-flat-button{
	@include button(#222, #fff, 0);
}

.white-curved-button{
	@include button(#222, #fff, 2px);
}

.dark-blue-flat-button{
	@include button(#fff, #458, 0);
}

.dark-blue-curved-button{
	@include button(#fff, #458, 2px);
}

// triangles
.triangle-top{
	@include triangle(30px, #0099ff, top);
}

.triangle-left{
	@include triangle(30px, #0099ff, left);
}

.triangle-bottom{
	@include triangle(30px, #0099ff, bottom);
}

.triangle-right{
	@include triangle(30px, #0099ff, right);
}

.triangle-topleft{
	@include triangle(30px, #0099ff, top left);
}

.triangle-bottomleft{
	@include triangle(30px, #0099ff, bottom left);
}

.triangle-bottomright{
	@include triangle(30px, #0099ff, bottom right);
}

.triangle-topright{
	@include triangle(30px, #0099ff, top right);
}

.triangle-leftright{
	@include triangle(30px, #0099ff, left right);
}

.triangle-topbottom{
	@include triangle(30px, #0099ff, top bottom);
}

.triangle-topleftright{
	@include triangle(30px, #0099ff, top left right);
}

.triangle-bottomleftright{
	@include triangle(30px, #0099ff, bottom left right);
}

.triangle-topbottomleft{
	@include triangle(30px, #0099ff, top bottom left);
}

.triangle-topbottomright{
	@include triangle(30px, #0099ff, top bottom right);
}

// form partials

.vertical-form{
	@include vertical-form;
}

// other partials
blockquote{
	@include blockquote(#ccc);
}

.truncate{
	@include truncate;
}

.loading1{
	@include loading(1.5em);
}

.loading2{
	@include loading(1.5em, 2);
}

[class*=triangle]{
	margin-right: 0.5em;
}

// page styling

body{
	overflow-x: auto;
	overflow-y: scroll;
}

header{
	h1{
		font-size: 4em;
		color: #222;
		margin: 0.25em 0;

		& > a,
		& > a:visited{
			color: #222;
			text-decoration: none;
			@include transition(250ms ease-in-out text-shadow);
		}
		& > a:hover{
			text-shadow: 0 0 1em #4db8ff, 0 0px 15px #C89;
		}
	}

	h2{
		margin-bottom: 0;
		font-size: 1em;
		color: #aaa;
	}
}

footer{
	text-align: center;
	color: #fff;
	background-color: #999;
	border-top: 3px solid #888;
	text-shadow: 0 1px 1px rgba(black, 0.5);
	@include fixed-footer;

	p{
		margin: 0;
		padding: 1em;
	}

	@media only screen and (max-width: 1139px){
		position: relative;
		left: auto;
		bottom: auto;
		width:100%;
	}
}

#wrapper{
	@include borderbox;
	width: 1140px;
	margin: 0 auto;

	@media only screen and (max-width: 1139px){
		width: 100%;
		padding: 0 2em;
		border: none;
	}
}

.nav{
	margin-top: 1em;
}

.item{
	@include borderbox;
	padding: 1em;
	background-color: #f5f5f5;
	border: 1px solid #eee;

	h3{
		color: #444;
		margin-top: 0;
	}

	h4{
		font-size: 0.8em;
		color: #666;
	}

	& > *:last-child{
		margin-bottom: 0;
	}
}

hr{
	border-top: 2px dashed rgba(black, 0.2);
	border-bottom: 2px dashed rgba(black, 0.2);
	border-left: none;
	border-right: none;
}

.vertical-spacing{
	padding: 1em 0;
}

.last{
	margin-bottom: 4em;

	@media only screen and (max-width: 1139px){
		margin-bottom: 0;
	}
}

.no-top-margin{
	margin-top: 0;
}