////
/// @group helpers
/// @author Adonis K.
////

/// A mixin that generates CSS for an element that needs to be cleared
/// @example
/// .a{
/// 	@include clearfix;
/// }
@mixin clearfix{
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

///
%clearfix {
	@include clearfix;
}
