.item {
  -webkit-box-shadow: 0 0 5px #ff6600, 0 0 5px #ff6600 inset, 10px 10px 0 white;
  -moz-box-shadow: 0 0 5px #ff6600, 0 0 5px #ff6600 inset, 10px 10px 0 white;
  box-shadow: 0 0 5px #ff6600, 0 0 5px #ff6600 inset, 10px 10px 0 white;
}
