.item {
  background-color: white;
  border: 2px dashed red;
  -webkit-border-false-false-radius: 3px;
  -moz-border-radius-falsefalse: 3px;
  border-false-false-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 4px white;
  -moz-box-shadow: 0 0 0 4px white;
  box-shadow: 0 0 0 4px white;
}
