////
/// @group layout
/// @author Adonis K.
////

/// A mixin that generates CSS for unstyled lists
/// @group list
/// @example
/// .list{
/// 	@include unstyled-list;
/// }
@mixin unstyled-list{
	list-style: none;
	list-style-position: outside;
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

///
%unstyled-list{
	@include unstyled-list;
}

/// A mixin that generates CSS for floated lists
/// @group list
/// @example
/// @param spacing {Number} [0] $spacing is the value that defines the floated-list's spacing
/// @param direction {String} $direction [left] is the value that defines the floated-list's direction
/// .list{
/// 	@include floated-list;
/// }
@mixin floated-list($spacing: false, $direction: left){
	@extend %unstyled-list;
	@extend %clearfix;

	& > li {
		float: $direction;
	}

	@if $spacing{
		& > li + li{
			margin-#{$direction}: $spacing;
		}
	}
}

///
%floated-list{
	@include floated-list;
}

/// A mixin that generates CSS for inline lists
/// @group list
/// @param spacing $spacing {Number} is the value that defines the inline-list's spacing (defaults to 0)
/// @param direction $direction {String} [left] is the value that defines the inline-list's direction
/// @example
/// .my-list{
/// 	@include inline-list;
/// }
@mixin inline-list($spacing: false, $direction: left){
	@extend %unstyled-list;

	& > li {
		display: inline-block;
	}

	@if $spacing{
		& > li + li{
			margin-#{$direction}: $spacing;
		}
	}
}

///
%inline-list{
	@include inline-list;
}
