////
/// @group layout
/// @author Adonis K.
////

/// A mixin that generates CSS for an animated loading element
/// @param {Number} $width [1.5em] is the value that defines the loading element's size
/// @param {Number} $style [1] is the value that defines the loading's style
/// @param {String} $color [#666] is the value that defines the loading's color
/// @example
/// .loading1{
/// 	@include loading(1.5em);
/// }
///
/// .loading2{
/// 	@include loading(1.5em, 2);
/// }
@mixin loading($width: 1.5em, $style: 1, $color: #666){
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border: solid $width;
	border-radius: $width*10;
	@if($style == 1){
		border-color: $color transparent $color transparent;
	}@else{
		border-color: $color transparent transparent transparent;
	}

	animation: verepoLoadingSpinner 1s linear infinite;
}

@keyframes verepoLoadingSpinner{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
