// A mixin that generates CSS for a media object
// @category layout
// @mixin media
// @param $direction {String} is the value that defines the media object's direction.
// @usage:
// <div class="media">
// 	<div class="img">
// 		<img src="http://placekitten.com/50/50">
// 	</div>
// 	<div>
// 		<p>Your content goes here</p>
// 	</div>
// </div>
// .media{
// 	=media;
// }
@mixin media($direction: left){
	@include clearfix;

	& > .img {
		float: $direction;
		display: block;
		@if $direction == 'right'{
			margin: 0 0 0 1rem;
		} @else {
			margin: 0 1rem 0 0;
		}
	}

	& > .img > img {
		display: block;
	}

	& > .img + *{
		display:table-cell;
		width:10000px;
	}
}
