////
/// @group layout
/// @author Adonis K.
////

/// A mixin that generates CSS for an effect added to a string containing element whose text will be truncated and then an extra character of ellipsis will be added.
/// @param {Number} $width [100%] is the value that defines where the text will be truncated
/// @example
/// .truncate{
/// 	@include truncate(2em);
/// }
@mixin truncate($width: 100%){
	width: $width;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
